/* Estilos personalizados */

body {
    background-color: #0077B6;
    color: #fff;
}

h1, h2 {
    color: #343a40;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Espaçamento extra para seções */
section {
    padding: 20px 0;
}

#evento {
    margin: 0;
    padding: 50px 100px;
}

.fundo-evento {
    background-image: url("img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.box-evento {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
}

.box-descricao-evento {
}

.box-linha {
    display: flex;
    justify-content: space-around;
    align-items: center;
}